.App {
  text-align: center;
}

.user-registration-buttons {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #46b349;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(151, 151, 151);
}

.user-registration-buttons:hover {background-color: #3b8a3d}

.user-registration-buttons:active {
  background-color: #3b8a3d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.intraday_button {
  position: absolute;
  bottom: 275px;
  left: 100px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3b26af;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px rgb(151, 151, 151);
  width: 200px;
  height: 50px;
}

.daily_button {
  position: absolute;
  bottom: 175px;
  left: 100px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3b26af;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px rgb(151, 151, 151);
  width: 200px;
  height: 50px;
}