.App {
  text-align: center;
}

button {
  position: absolute;
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3b26af;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px rgb(151, 151, 151);
}

button:hover {background-color: #301e9b}

button:active {
  background-color: #301e9b;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

.user-registration-buttons {
  top: 15px;
  right: 15px;
  font-size: 26px;
}

.intraday_button {
  bottom: 275px;
  left: 100px;
  width: 175px;
  height: 50px;
}

.daily_button {
  bottom: 175px;
  left: 100px;
  width: 175px;
  height: 50px;
}

.stockInfo {
  position: absolute;
  display: inline-block;
  color: green;
  font-size: 26px;
  padding: 100px 0 0;
  text-align: center;
  width: 170px;
  height: 50px;
  
}